
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <h3>Plan: @ViewBag.v1</h3>
    <h3>Person Count: @ViewBag.v2</h3>
    <h3>Price: @ViewBag.v3</h3>
    <h3>Content: @ViewBag.v4</h3>
    <h3>Resoulution: @ViewBag.v5</h3>
    <a href="/Default/BasicPlanIndex/" class="btn btn-danger">Basic Plan</a>
    <a href="/Default/UltraPlanIndex/" class="btn btn-success">Ultra Plan</a>
</div>